<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="profile.html">
          <i class="bi bi-hospital text-dark"></i>
          <span>Clinic Profile</span>
        </a>
        <hr> 
      </li><!-- End Clinic Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="doctors.html">
          <i class="bi bi-person text-primary"></i>
          <span>Doctors</span>
        </a>
      </li><!-- End Doctors Page Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="appointments.html">
          <i class="bi bi-calendar-plus text-success"></i>
          <span>Appointments</span>
        </a>
      </li><!-- End Appointments Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="departments.html">
          <i class="bi bi-card-checklist text-warning"></i>
          <span>Department</span>
        </a>
      </li><!-- End Departments Page Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="faqs.html">
          <i class="bi bi-question-circle text-danger"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->